extends ../layout

block content
  div
    button#socket-connect socket-connect
    input#socket-connecte-input
  div
    button#socket-add-connect socket-add-connect
    input#socket-add-connecte-input
  div
    button#socket-testEvent socket-testEvent
    input#socket-testEvent-input
  div
    button#socket-disconnect socket-disconnect
    input#socket-disconnecte-input
