extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    a(href = "/demo/captcha") 验证码例子
  div
    a(href = "/demo/socket") socket.ioDEMO

  div
    input#clip_text
    button#clip_btn(data-clipboard-target="#clip_text") clip
    input#clip_paste
    button#test-post test/post
