doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/jquery.min.js')
    script(src='/js/pub.js')
    script(src='/bower_components/clipboard/dist/clipboard.min.js')
    script(src='/bower_components/socket.io-client/socket.io.js')
  body
    block content
